.builder-widgets {
	padding:20px;
	background-color:#e3e3e3;
}
.builder-widgets .builder-row {
	padding:20px;
	background-color:#ffffff;
	margin-bottom:20px;
}
.builder-widgets .builder-row:last-of-type {
	margin-bottom:0;
}
.builder-widgets .builder-row .form-group .form-control {
	background-color:#ededed;
}
.builder-widgets .builder-row .content-form {
	/*display:none;*/
}
.row-header {
	/*border-bottom:1px solid #ededed;*/
	padding-bottom:10px;
}
.row-header .sub-btn {
}
.row-header .sub-btn.content-row-trigger-sort {
	margin-right:20px;
}
.row-header .sub-btn.content-row-sort {
	margin-right:20px;
	float:right;
}
.row-header .sub-btn.content-row-trash {
	margin-right:20px;
	float:right;
}
