html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.tab-pane.active {
    padding: 20px 20px 20px 0;
}

div.required label:after {
    content: " *";
    color: red;
}

/** upload widget  **/
.kv-file-upload.btn, .close.fileinput-remove {
    display: none!important;
}

.list-group-item{
    margin-top: 10px!important;
}

.ui-sortable .badge{
    cursor: pointer;
}

.ui-sortable-placeholder {
    background: #cffdff !important;
}

.left-margin {
    margin-left: 10px;
}

.sortable li div {
    margin-bottom: 10px;
}

.file-upload-indicator{
    padding-top: 0!important;
}

.img-container {
    padding: 0;
    max-width: 600px;
    max-height: 500px;
}

.img-preview {
    padding: 0;
    margin-top: 50px;
    margin-left: 50px;
    width: 215px;
    height: 245px;
    overflow: hidden;
}

.centered {
    text-align:center;
}

.margined {
    margin: 20px;
}

.file-upload-indicator .kv-file-remove {
    display: none;
}

.file-footer-buttons .kv-file-remove {
    display: inline-block!important;
}
/** upload widget  **/

.table-bordered > tbody > tr > td {
    text-align: center;
}
.ajax-checkbox {
    cursor: pointer;
}

.file-name {
    margin-top: -65px;
    margin-bottom: 40px;
    margin-left: 280px;
}
.file-name a, .file-name img {
    margin-left: 20px;
}

/*For menu tree*/
/*.site-index {
    text-align: center;
}*/
.site-index .navbar-nav {
    display:inline-block;
    float: none!important;
}
.site-index .nav .open > a {
    background-color: white;
}
.site-index .dropdown {
    text-align: left;
}
.site-index .dropdown-menu {
    position: relative;
    border: none;
    box-shadow: none;
}
.site-index .dropdown-menu > li > a:hover {
    color: #337AB7;
    background-color: white;
}
.site-index .dropdown-menu > li > a[href='#']:hover {
    color: inherit;
}
.site-index a[href='#'] {
    cursor: default;
    text-decoration: none;
    color: inherit;
}
/*For menu tree*/

.svg {
    max-width: 100px;
}

.select2-container.select2-container-multi.form-control {
    height: auto;
}
.select2-search-choice-close {
    margin-top: -7px;
}
.select2-search-choice, .form-control.select2-container-multi .select2-search-field {
    margin: 7px!important;
}

.related-model-panel .file-name {
    display: inherit;
    position: relative;
}
.related-model-panel .select2-container {
    display: block!important;
}
.btn.btn-primary, .btn.btn-template-builder {
    color: white;
    background-color: #28292a;
}
.btn.btn-primary:hover, .btn.btn-template-builder:hover {
    background-color: #0B0B0C;
}

.related-model-panel .btn-template-builder {
    width: 19%;
}
.template-builder .file-input{
    box-shadow: 0 0 0 2px #ededed !important;
}
.button-add {
    text-align: right;
}
.has-error.help-block {
    color: #a94442;
}
.content-append .btn-template-delete.btn.btn-danger {
    line-height: 1;
}
.form-group.content-append .form-control {
    background-color: #EDEDED;
}
.related-model-panel .form-group .form-control {
    margin-bottom: 0;
}
.content-append .form-group .checkbox label::before {
    border: 3px solid #ededed;
}
.content-append .form-group .checkbox label.active::before {
    border: 1px solid white;
}
a.btn-block {
    padding-top: 20px;
}
.panel-body .nav-tabs a.tab-error, .panel-body .nav-tabs li.active a.tab-error {
    border-bottom: solid 3px #FF7373;
}

.not-image .crop-link {
    display: none;
}

#news-publish_date {
    margin-bottom: 0;
}
