html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

.left_section {
    float: left;
    width: 400px;
    margin-left: 5%;
    margin-top: 5%;
}

.inner_text > div {
    position: absolute;
    background-color: #fff705;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 70px;
    height: 50px;
}

.inner_text {
    position: relative;
}

.inner_text > span {
    color: #000;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.left_section .inner_text > span {
    padding-left: 15px;
    top: 10px;
    font-size: 25px;
}

#logo {
    position: absolute;
    right: 10px;
    top: 5px;
}

#logo > img {
    width: 110px;
}

.about_inner {
    margin-top: 45px;
    position: relative;
}

.about_inner > div:not(.image_inner) {
    font-size: 15px;
    width: 90%;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}

.about_inner > .image_inner > img {
    width: 250px;
}

.image_inner {
    position: absolute;
    right: -35%;
    bottom: -250px;
    width: 300px;
    height: 220px;
}

.image_inner > div {
    position: absolute;
    background-color: #fff705;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 200px;
    height: 3px;
    top: -25px;
    left: -200px;
}

.right_section {
    float: left;
    width: calc(100% - 5% - 400px);
    margin-top: 8%;
}

.right_section .inner_text > span {
    font-size: 18px;
    top: 15px;
}

.right_section > .inner_text {
    float: right;
    margin-right: 10%;
    margin-top: 25px;
}

.right_section > .inner_text > div {
    position: absolute;
    background-color: #fff705;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 70px;
    right: -55px;
    height: 2px;
}

.inner_buttons {
    margin-top: 50px;
    width: 362px;
    overflow: hidden;
    float: right;
    margin-right: 150px;
    background-color: #fff705;
    height: 45px;
    line-height: 45px;
    border: 1px solid #bbb84f;
    box-sizing: border-box;
}

.inner_button {
    float: left;
    width: 90px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.inner_button:hover {
    background: #f5f175;;
}

.inner_buttons > .inner_button:not(:last-child) {
    border-right: 1px solid #bbb84f;
}

.inner_form {
    float: right;
    clear: both;
    margin-top: 50px;
    width: 362px;
    text-align: center;
    margin-right: 150px;
}

.inner_form > input {
    outline: 0;
    width: 80%;
    height: 30px;
    border: 1px solid #555;
    text-align: center;
}

.inner_form > .button {
    color: #333333;
    background-color: #ffff14;
    width: 160px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.inner_form > .button:hover {
    background: #f5f175;;
}

.inner_form > .inner_text {
    margin-bottom: 55px;
}

.inner_form > .inner_text > div {
    top: 0px;
    right: 80px;
    height: 30px;
}

@media only screen and (max-width: 1169px)  {
    .left_section {
        display: none;
    }

    .right_section {
        width: 100%;
        text-align: center;
    }

    .right_section > .inner_text {
        float: none;
        margin-right: 0;
        top: 15px;
    }

    .inner_buttons {
        display: inline-block;
        margin-right: 0;
        float: none;
    }

    .inner_form {
        float: none;
        width: 80%;
        display: inline-block;
        margin-right: 0;
    }

    .right_section > .inner_text > div {
        right: 200px;
    }

    #wrapper {
        overflow: auto;
    }
    .button {
        margin-bottom: 20px;
    }
}